@import url('https://fonts.googleapis.com/css2?family=Faster+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap');

:root{
    --primary-color:rgb(236,107,129);
    --secondary-color:#066;
    --main-color:rgb(167, 167, 230);
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    
}

body{
    font-family: 'Faster One', cursive;
    line-height: 1.5;
    text-align: center;
}

img{
    width: 100%;
}


.container{
    max-width: 1200px;
    padding: 0 1.5rem;
    margin:auto;
    /* overflow: hidden; */
}

.btn{
    text-decoration: none;
    font-size:1.3rem;
    font-weight: 800;
    color:#fff;
    margin-top:3rem;
    text-align: center;
    display: inline-block;
    padding:.4rem 1.1rem;
    background-color: var(--primary-color);
    border-radius: 10px;
    transition: all .3s ease-in-out;

}

.btn:hover{
    background-color: rgb(253,6,47);
}

.mainBox{
    background-color: #fff;
}

#about{
    height: 100vh;
    background-color: rgb(99, 99, 201,.4);

}

#navbar{
    background-color: var(--primary-color);
    color:#fff;
    padding:1rem 3rem;
    display: flex;    
    list-style: none;
    justify-content: flex-end;
    position:fixed;
    width: 100vw;
}

#navbar ul{
    list-style: none;
    display: flex;
    font-family: 'Orbitron', sans-serif;
    /* cursor: pointer; */
}

#navbar ul a{
    display: inline-block;
    padding: 1rem 1.5rem;
    text-decoration: none;
    font-size: 1.4rem;    
    
}

#navbar ul a:hover{
    background-color: rgb(253,6,47);
}

#about .container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#title{
    color:var(--main-color);
    font-size: 3rem;
    font-weight: bolder;
}

.lead{
    font-size: 1.8rem;
    color:var(--main-color);
    font-weight: 800q;
}

#work{
    text-align: center;
    width: 100%;
    padding:4rem .1rem;
    background-color: var(--secondary-color);
    
}

#work .projects{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 3rem;
}

#work .projects p{
    color:var(--secondary-color);
}

#work .container h1{
    font-size: 2.5rem;
    color: #fff;
    font-weight: bolder;
    text-transform: capitalize;
    margin-bottom: .5rem;
}

#bottom-line{
    height: 5px;
    background-color:#fff;
    width: 55%;
    border-radius: 15px;
    display:block;
    margin:auto;
    margin-bottom: 5rem;
    margin-top:0;
}

#work .projects .box{
    background-color: #fff;
    border:solid 5px #fff;
    border-radius: 10px;
}

.code{
    color:#eee;
    transition:.5s all ease;
    font-size:1.5rem;
}


.box:hover .code{
    color:var(--primary-color);

}



/* COntact section */

#contact{
    height: 80vh;
    background-color: var(--main-color);
    color:#fff;
}

#contact .container{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#contact .container h1{
    font-size: 3.4rem;
    font-weight: bolder;
    padding-bottom: 1rem;    
}

#contact .container p{
    font-size: 1.5rem;
    font-weight: 800;
    margin-bottom: 2rem;
}

#contact .container .social>div a{
    display: inline-block;
    text-decoration: none;
    font-size: 1.2rem;
    color:#eee;
    margin:1rem 2rem;
    transition: transform .5s ease-in-out;
}

#contact .container .social>div a:hover{
    transform: translateY(-8px);
}


/* Footer section */

#main-footer{
    border-top: solid 4px #fff;
    background-color: var(--primary-color);
    color:#fff;
}

#main-footer .container{
    padding: 1.8rem 0.1rem;
    display: flex;
    justify-content: space-between;
    

}

#main-footer .container p{
    font-size:1.2rem;   

}

#main-footer #created a{
    text-decoration: underline;
    color:#eee;
    line-height: 1.5;
    

}


@media (max-width:600px){

    #navbar{
        
        padding:0rem 1rem;
        justify-content: center;
        position:fixed;
        width: 100vw;
    }

}



